DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
DATABASE_URL=postgresql://postgres:password@host:6543/postgres
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=your-service-role-key
SUPABASE_BUCKET=portfolio-media
SUPABASE_PUBLIC_BUCKET=true
DEFAULT_FROM_EMAIL=noreply@example.com
CONTACT_EMAIL=you@example.com
